
h1 {
  display: flex;
  justify-content: center;
  margin-top: 18%;
  font-family: 'Orbitron', sans-serif;
  font-size: 4em;
  color: #d82d2d;
}
.mad_lab {
  display: grid;
  grid-template: repeat(4, auto) / repeat(4, 1fr);
  background-color: #838996;
}
.mad_lab h1 {
  grid-column: span 4;
  margin: 25px;
  font-size: 3.2em;
}
#target {
  grid-row: 5;
  grid-column: span 4;
  justify-self: center;
  width: 80%;
  height: 60px;
  font-size: 3em;
}
input, #target {
  position: relative;
  background-color: #A8A9AD;
  border: 2px solid #2A3439;
  border-radius: 4px;
}
#myButton {
  grid-row: 4;
  grid-column: span 4;
  justify-self: center;
  width: 10%;
  height: 100px;
  margin-top: 200px;
  border: 1px solid red;
  border-radius: 70px;
  background-color: #d82d2d;
}
.noun::after, .verb::after, .adjective::after, .adverb::after {
  position: absolute;
  content: "";
  top: 250px;
  width: 250px;
  height: 0;
  border: 3px solid #2A3439;
}
.noun::after {
  width: 478px;
  left: 160px;
  transform: rotate(27deg);
}
.verb::after {
  transform: rotate(60deg);
}
.adjective::after {
  transform: rotate(-60deg);
}
.adverb::after {
  width: 280px;
  margin-right: 150px;
  transform: rotate(-50deg);
}
