
h1 {
  display: flex;
  justify-content: center;
  margin-top: 18%;
  font-family: 'Orbitron', sans-serif;
  font-size: 4em;
  color: #d82d2d;
}
.mad_lab {
  display: grid;
  grid-template: repeat(2, auto) 220px repeat(2, auto) / repeat(4, 1fr);
  background-color: #838996;
}
.mad_lab h1 {
  grid-column: span 4;
  margin: 25px;
  font-size: 3.2em;
}
#target {
  grid-row: 5;
  grid-column: span 4;
  justify-self: center;
  width: 80%;
  height: 60px;
  font-size: 3em;
}
.mad_inputs {
  grid-row: 2;
  grid-column: span 4;
}
input, #target {
  background-color: #A8A9AD;
  border: 2px solid #2A3439;
  border-radius: 4px;
}
#myButton {
  grid-row: 4;
  grid-column: span 4;
  justify-self: center;
  width: 10%;
  height: 80px;
  border: 1px solid red;
  border-radius: 70px;
  background-color: #d82d2d;;
}
.style_line1, .style_line2, .style_line3, .style_line4 {
  grid-row: 3;
  align-self: center;
  width: 250px;
  height: 0;
  border: 3px solid #2A3439;
}
.style_line1 {
  width: 280px;
  margin-left: 150px;
  transform: rotate(50deg);
}
.style_line2 {
  transform: rotate(60deg);
}
.style_line3 {
  transform: rotate(-60deg);
}
.style_line4 {
  width: 280px;
  margin-right: 150px;
  transform: rotate(-50deg);
}
